html, body {
  font-family: arial,sans-serif;
  font-size: 100%;
}
a:link, a:visited, a:active {
  color:#2200CC;
}

#wrap{
  width:100%;
}

#header{
  padding:10px 10px 10px 10px;
  font-size: 108%;
  border-bottom:1px solid #C9D7F1;
}
#header #logo{
  font-weight:bold;
  font-size: 116%;
  color:yellowgreen;
}

#nav{
  font-size: 93%;
  float:left;
  width:240px;
  padding:10px 10px 10px 10px;
  border-right:1px solid #C9D7F1;
}

#nav .nav-title{
  padding: 3px 3px 3px 3px;
  border-top:1px solid #C9D7F1;
  border-bottom:1px solid #C9D7F1;
  margin-bottom: 10px;
}

.clusters{
  padding-left:10px;
}
.cluster{
  padding-bottom:7px;
}

#nav .selected{
  font-weight:bold
}
.cluster .selected{
  font-weight:bold
}

#main{
  margin-left:260px;
  padding:20px 50px 10px 20px;
}

.result {
  padding-bottom:15px;
}
.result .title{
  font-size: 108%;
  padding-bottom:5px;
}
.result .abstract{
  font-size: 77%;
  padding-bottom:2px;
  max-width: 50em;
}
.result .url{
  font-size: 85%;
  color: green;
  max-width: 50em;
}
