html, body {
  font-family: arial,sans-serif;
  font-size: 100%;
}
a:link, a:visited, a:active {
  color:#2200CC;
}

#wrap{
  width:100%;
}

#header{
  padding:15px 15px 15px 15px;
  font-size: 108%;
  border-bottom:1px solid #C9D7F1;
}
#header #logo{
  font-weight:bold;
  font-size: 116%;
  color:yellowgreen;
}

#nav{
  font-size: 93%;
  float:left;
  width:240px;
  border-right:1px solid #C9D7F1;
}

#nav #cluster-all{
  margin-top: 10px;
  margin-left: 10px;
  padding: 3px 0px 3px 0px;
}

#nav .selected{
  font-weight:bold;
  background-color: #E5ECF9;
}

#nav .clusters{
  margin-left: 20px;
}

#nav .cluster{
  padding: 4px 0px 4px 0px;
}

#main{
  margin-left:260px;
  padding:20px 50px 10px 20px;
}

.result {
  padding-bottom:15px;
}
.result .title{
  font-size: 108%;
  padding-bottom:5px;
}
.result .abstract{
  font-size: 77%;
  padding-bottom:2px;
  max-width: 50em;
}
.result .url{
  font-size: 85%;
  color: green;
  max-width: 50em;
}
