<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>clustring + search</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css"> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssfonts/fonts-min.css"> 
  </head>
  <body>
    <div style="text-align:center;border:black;">
      <div style="margin-top:20%;margin-left:auto;margin-right:auto;width:800px;border:red;">
        <form action=".">
          <span style="font-family:Verdana,Times,Serif;font-weight:bold;font-size:18px;color:yellowgreen;">clustering + search</span>
          <input id="q" name="q" type="text" maxlength="2048" style="width:400px"/>
          <input type="submit" value="Search"/>
        </form>
      </div>
    </div>
  </body>
</html>
