<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>{{query}} - clustring + search Results</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssreset/reset-min.css"> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssfonts/fonts-min.css"> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0/build/cssgrids/grids.css">
  </head>
  <body>
    <div class="yui-d0">
      <div id="header">
        <form action=".">
          <span>clustering + search</span>
          <input id="q" name="q" type="text" maxlength="2048" style="width:400px" value="{{query}}"/>
          <input type="submit" value="Search"/>
        </form>
      </div>
      <div class="yui-t2">
        <div class="yui-main">
          <div class="yui-b">
            <ol>
              {% for result in results %}
                <li>
                  <h3><a href='{{result.url}}'>{{result.title}}</a><h3> 
                  <div>{{result.abstract}}</div>
                  <span>{{result.url}}</span>
                </li>
              {% endfor %}
            </ol>
          </div>
      </div>
      <div id="yui-b">
        <h2>Groups</h2>
        <ul>
          {% for label in labels %}
            <li><a>{{label}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div id="footer"></div>
    </div>
  </body>
</html>
