<html>
  <body style="margin:0;border:0;">
      <div style="margin-top:10px;margin-left:10px;">
        <form action=".">
          <span style="font-family:Verdana,Times,Serif;font-weight:bold;font-size:20;color:yellowgreen;">Curio</span>
          <input id="q" name="q" type="text" maxlength="2048" style="width:400px"/>
          <input type="submit" value="Search"/>
        </form>
      </div>
      <div style="height:0px;width:100%;position;border-top:1px solid DarkOliveGreen;margin-top:0;"/>
  </body>
</html>
